// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #00A8E8;
$secondary : #007EA7;
$accent    : #FCA311;

$white     : #FFFFFF;
$dark      : #00171F;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #ff0052;
$info      : #31CCEC;
$warning   : #F2C037;

@import '~quasar-variables-styl';
